header{
    position: relative;
    margin-top: 0%;

    background-color:red;
}
body{
    background-color: rgb(95, 95, 95);
    margin: 0;
}

footer{
    background-color: blue;
    position: absolute;
    bottom: 0;
    width: 100%;
}
table{
    width: 100%;
}
tr{
    text-align: center;
}
